<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  
<div class="header">
    <br><br>
  <h1 class="text-muted">
    Welcome to {{ title }}!
  </h1>
</div>
<hr>

<br><br>
<div text="center">
    <app-image [imageUrl]=imgLink></app-image>
</div>
<div class="row">
  <div class="col-sm-8">
    <app-profile></app-profile>
  </div>
  
  <div class="col-sm-4">
    <app-similarlist></app-similarlist>
  </div>
</div>


<footer class="footer"></footer>
<br><br><br>
<hr>
Copyright the Dada Dating Service (DDS) company.

</div>




